.image-button-container {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    direction: rtl;
  }
  
  .main-image {
    max-width: 500px;
    width: 80%;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    margin-bottom: 2rem;
  }
  
  .checkout-button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #8a0303;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkout-button:hover {
    background-color: #a90e0e;
  }
.scrollable-container {
  max-height: 100vh;
  overflow-y: auto;
}